/* Commodities.module.scss */

.wrapper {
    /* CSS cho wrapper */
  
    background-color: rgb(232, 222, 207);
    
    box-shadow: 0px 50px 40px rgba(190, 16, 16, 0.1); /* Thay đổi giá trị đổ bóng theo ý muốn */
  }
  .wrappername{
    
  }
  .title {
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 30px;
    font-size: 24px;
    color: #322f2f;
    margin-bottom: 16px;
  }
  
  .tableRow {
     
    font-size: 28px;
    font-weight: 800;
    /* CSS cho các hàng trong bảng */
  }
  
  .tableCell {
    white-space: nowrap;
    /* CSS cho các ô trong bảng */
     
    padding: 8px;
  }
  
  .tableHeadCell {
    
    white-space: nowrap;
    /* CSS cho các ô tiêu đề trong bảng */
    background-color: #f0f0f0;
    font-weight: bold;
  }
  .tableCell {
    margin-left: -500px;
    white-space: nowrap;
    padding: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Thêm các thuộc tính CSS khác tùy chỉnh theo ý muốn */
  }