//Modal
.modalWraper {
  .bigTitle {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 15px;
  }
  .formContent {
    flex-direction: column;
    align-items: center;
    width: fit-content;

    .formGroup {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      align-items: center;

      .formTitle {
        font-weight: 500;
        margin-right: 10px;
      }

      .formInput {
        width: 35vw;
        padding: 8px 8px;
        border-radius: var(--box-border-radius);
        outline: none;
        border: 1px solid transparent;
        background-color: var(--gray-input-bg);
        transition: all 0.1s linear;

        &:focus {
          background-color: var(--main-bg);
          border-color: var(--gray);
        }
      }
    }
  }

  .formGroupbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
  }
}
