.wrapper {
  background-color: #f2f2f2;
  overflow-x: auto;
  overflow-y: hidden;

  h1 {
    padding-top: 50px;
    text-align: center;
  }

  .tableActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;

    button {
      margin-right: 10px;
      font-size: 15px;
      padding: 8px 16px;
      background-color: #000;
      color: #fff;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #2e3f50;
      }
    }
  }

  .tableWrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;

    .table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid black;

      th,
      td {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        border: 1px solid black;
        text-align: center;
        font-size: 14px;
      }

      th {
        background-color: #fec12c;
        border: 1px solid black;
        font-size: 15px;
      }
    }
  }

  .modal {
    position: fixed;
    top: 1%;
    left: 0;
    right: 0;
    bottom: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .modalContent {
      background-color: #fff;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      max-width: 1100px;
      height: 80%;
      max-height: 900px;
      overflow-y: auto;
      position: relative;

      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }

      h3 {
        font-size: 25px;
        margin-bottom: 20px;
      }

      label {
        font-weight: bold;
        margin-left: 15px;
      }

      input {
        margin-top: 10px;
        padding: 13px;
        border: 2px solid #ccc;
        border-radius: 10px;
        width: 80%;
        margin-left: 20px;
      }

      .modalButtons {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        position: absolute;
        bottom: 20px;
        right: 20px;
      }

      .modalCancelButton {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
      }

      button {
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
      }

      .modalSaveButton {
        background-color: #4caf50;
      }

      .modalDeleteButton {
        background-color: #f44336;
      }
    }
  }

  .add {
    margin-top: 15px;
    margin-left: 100px;

    .addButton {
      background-color: #12da33;
    }

    .cancelButton {
      padding: 8px 16px;
      background-color: #da2912;
      color: #fffefe;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  .resultSelect {
    font-size: 15px;
  }

  .successOption {
    font-size: 15px;
    color: #4caf50;
  }

  .failureOption {
    font-size: 15px;
    color: #f44336;
  }

  .resultSelectVertical {
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-left: 10px;
    margin-right: 20px;
  }
}
