
.formInput {
    width: 35vw;
    padding: 8px 8px;
    border-radius: var(--box-border-radius);
    outline: none;
    border: 1px solid transparent;
    background-color: var(--gray-input-bg);
    transition: all 0.1s linear;

    &:focus {
      background-color: var(--main-bg);
      border-color: var(--gray);
    }
  }