.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: skewX(-30deg);
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px; /* Bo viền tròn cho màu nền */

  & > div {
    transform: skewX(30deg);
  }

  .content-left {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 20px;

    .logo-image {
      height: 40px;
    }
  }

  .menu-list {
    display: flex;
    list-style-type: none;
    flex-direction: row-reverse;

    .menu-item {
      margin-right: 20px;

      &:hover {
        .menu-link {
          text-decoration: underline;
        }
      }

      &.active {
        .menu-link {
          color: #7147C5; /* Màu khi ở trang hiện tại */
        }
      }
    }

    .menu-link {
      color: #333333;
      text-decoration: none !important;
      font-weight: bold;
      transition: text-decoration 0.3s;

      &:hover {
        text-decoration: none;
        color: #FF9800; /* Màu khi hover */
      }
    }
  }

  .content-right {
    .button-right {
      display: flex;
      align-items: center;
    }

    .MuiButton-root {
      color: white;
      font-weight: bold;
      transition: background-color 0.3s, padding 0.3s, border-radius 0.3s;

      &:hover {
        background-color: #FF9800; /* Màu nền hover cho nút */
        padding: 4px;
        border-radius: 4px;
      }
    }
  }
}
